#map {
	width: 800px;
	height: 500px;
	float: left;
}

#schoolbtn, #homebtn {
	width: 100px;
	height: 50px;
	
	text-align: center;
	border-radius: 5px;
	font-family: arial;
	margin: 10px;
	float: left;
}

#schoolbtn {
	background-color: red;
}

#homebtn {
	background-color: green;
}

#schoolbtn:hover, #homebtn:hover {
	background-color: orange;
	cursor: pointer;
}